{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-Ǔ">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/logo.jpg' %}" alt="Assignment Help Logo" width="30" height="30" class="d-inline-block align-text-top">
    <span class="brand-text" style="color: #c0392b;">Assignment Help</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link home-link" href="{% url 'home' %}" style="color: #F2F2F2;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link about-link" href="{% url 'about' %}" style="color: #F2F2F2;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact-link" href="{% url 'contact' %}" style="color: #F2F2F2;">Contact Us</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" style="color: #F2F2F2;">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" style="color: #F2F2F2;">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="{% url 'signup' %}" style="background-color: #003399;">Sign Up</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
