{% extends 'base.html' %}

{% block content %}
  <h1>Create Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="text">Text:</label>
      {{ form.text }}
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      {{ form.image }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}